#reel {
    /* height: 100vh; */
    aspect-ratio: 3.1/2.0;
    max-width: 100%;

    @media screen and (max-width: 768px){
        aspect-ratio: 3.1/2.9;
    }

    @media screen and (max-width: 576px){
        aspect-ratio: 1/ 1.3;
        padding-bottom: 10%;
    }

}
